@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Theme 1 */

  /* Backgrounds */
  --main-color: #3a4663;
  --toggle-color: #232c42;
  --background-color: #182034;

  /* Keys */
  --key-color: #626f97;
  --key-shadow-color: #404d72;
  --toggle-btn-color: #cf3f2f;
  --toggle-key-shadow: #93261a;
  --lg-gray-key-bg: #e9e3db;
  --gray-key-shadow: #b4a497;

  /* Text */
  --very-dark-gray-blue: #434a5a;
  --white: #ffffff;
}

body {
  background-color: var(--main-color);
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme {
  display: flex;
  align-items: center;
}

.calculator {
  padding: 5rem 30rem;
}

.selector {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  height: 1.3rem;
  margin: auto 0;
  border-radius: 10px;
  justify-content: center;
}

label {
  width: 0px;
}

input[type="radio"] {
  position: relative;
  opacity: 0;
  display: inline;
  left: 15px;
}

label::after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  margin: 5px 5px;
  cursor: pointer;
  position: relative;
  right: 21px;
  opacity: 1;
}

input[type="radio"]:nth-child(1):checked + label::after {
  background-color: var(--toggle-btn-color);
}

input[type="radio"]:nth-child(3):checked + label::after {
  background-color: red;
}

input[type="radio"]#t-3:checked + label::after {
  background-color: green;
}

.theme h6 {
  position: relative;
  left: calc(2rem - 15px);
}

.theme h5 {
  position: relative;
  bottom: 1.3rem;
  left: 3.4rem;
  margin: 0;
}

#display {
  background-color: var(--background-color);
}
